# -------------------- Authentication Credentials --------------------

JWT_SECRET_KEY=

# Signup Email
GMAIL_ADDRESS=
GMAIL_APP_PASSWORD=
FRONTEND_URL=

# -------------------- GCP Credentials --------------------

# Database
GCP_DATABASE_URL=

# Claude
GCP_PROJECT_ID=
GCP_LOCATION=
CLAUDE_MODEL_NAME=
SA_INFO=

# -------------------- Analytics Credentials --------------------

ZAPPER_API_KEY=
